{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <div class="hero-section">
        <h1 class="kawaii-title">Cat Body Language</h1>
        <h2 class="kawaii-subtitle">The Emotional Cat - Decoding Cat Clues Made Simple</h2>
        
    </div>
    
    <div class="row cat-categories">
        <div class="col-md-3">
            <a href="{{ url_for('tutorial_category', category='stressed-fearful') }}" class="kawaii-card-link">
                <img src="{{ url_for('static', filename='images/neko-stressed.png') }}" class="kawaii-card-icon" alt="stressed/fearful">
                <div class="kawaii-card">
                     <h5 class="kawaii-card-text">Stressed /<br> Fearful</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('tutorial_category', category='painful-sick') }}" class="kawaii-card-link">
                <img src="{{ url_for('static', filename='images/neko-sick.png') }}" class="kawaii-card-icon" alt="painful/sick">
                <div class="kawaii-card">
                    <h5 class="kawaii-card-text">Painful /<br> Sick</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('tutorial_category', category='curious-playful') }}" class="kawaii-card-link">
                <img src="{{ url_for('static', filename='images/neko-playful.png') }}" class="kawaii-card-icon" alt="curious/playful">
                <div class="kawaii-card">
                    <h5 class="kawaii-card-text">Curious /<br> Playful</h5>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('tutorial_category', category='happy-relaxed') }}" class="kawaii-card-link">
                <img src="{{ url_for('static', filename='images/neko-happy.png') }}" class="kawaii-card-icon" alt="happy/relaxed">
                <div class="kawaii-card">
                    <h5 class="kawaii-card-text">Happy /<br>Relaxed</h5>
                </div> 
            </a>
        </div>
    </div>
    <div class="row cat-categories">
        <div class="col-md-3">
            <a href="{{ url_for('tutorial_category', category='stressed-fearful') }}"class="start-badge">
                <svg class="svg" viewBox="0 0 100 60" xmlns="http://www.w3.org/2000/svg">
                    <path class="shape" d="M10 50 L50 10 L90 50 L70 50 L70 60 L30 60 L30 50 Z" />
                    <text class="label" x="50" y="45">START</text>
                </svg>
            </a>
        </div>
    </div>
</div>
{% endblock %}
