{% extends "layout.html" %}

{% block title %}Ready to Quiz?{% endblock %}

{% block content %}

<script>
    let all_finished = {{ all_finished|tojson }};
    let unfinished_cat = {{ unfinished_cat|tojson }};
</script>

<div class="quiz-start-container text-center">
    {% if all_finished %}
        <div class="hero-section">
            <h1 class="kawaii-title">You're All Set!</h1>
            <h2 class="kawaii-subtitle">Think you've mastered Cat Body Language?</h2>
            <p class="kawaii-description">Let's see what you've learned. Click below to begin the quiz!</p>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <a href="{{ url_for('quiz') }}" class="kawaii-card-link">
                <img src="{{ url_for('static', filename='images/neko-happy.png') }}" class="kawaii-card-icon" alt="happy/relaxed">
                <div class="kawaii-card">
                    <h1 class="font-color-black" style="color: black;">Start <br>Quiz</h1>
                </div> 
            </a>
        </div>
    {% else %}
        <div class="hero-section">
            <h1 class="kawaii-title">Not Quite Ready!<h1>
            <h2 class="kawaii-subtitle">You still have unfinished tutorials</h2>
            <p class="kawaii-description">Complete the tutorials first. Click below to continue your learning journey!</p>
            <ul class="kawaii-unfinished">
                {% for category in unfinished_cat %}
                    <li>
                        <a href="{{ url_for('tutorial_category', category=category) }}" class="kawaii-button back-button"> 
                            <div class ="speech-bubble-text medium">
                                {{ category.replace('-', ' / ').title() }}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        
    {% endif %}
</div>

{% endblock %}