{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/scenario.js') }}"></script>

<script>
    let scenario = {{scenario|tojson}};
    let prev_category = {{prev_category|tojson}};
    let next_category = {{next_category|tojson}};
</script>

<div class="scenario-container">
    <div class="scenario-content">
        <div class="scenario-header">
            <a href="{{ url_for('tutorial_category', category=prev_category) }}" class="kawaii-button back-button">&lt; Go Back</a>
            <h2 class="kawaii-title scenario">{{ scenario["title"] }}</h2>
            <a href="{{ url_for('tutorial_category', category=next_category) }}" class="kawaii-button next-button">&gt; Next</a>
        </div>

        <div class="kawaii-panel scenario"  
             style="background-image: url('{{ scenario['env-image'] }}')">
            <div class="neko-teacher">
                <img src="{{ url_for('static', filename='images/neko-teacher.png') }}" alt="Neko Teacher" class="neko-teacher-img small">
                <div class="speech-bubble small">
                    <div class="speech-bubble-text small">
                        Hover your mouse over my friend to see where is clickable.
                        <img src="{{ url_for('static', filename='images/pointer-hover.png') }}" alt="pointer-hover" class="pointer-icon">
                    </div>
                </div>
            </div>
            <div class="kawaii-body" 
                 style="background-image: url('{{ url_for('static', filename='images/' + scenario['cat-image']) }}');
                        top: {{ scenario['image-contrl']['top'] }};
                        left: {{ scenario['image-contrl']['left'] }};
                        width: {{ scenario['image-contrl']['width'] }};
                        height: {{ scenario['image-contrl']['height'] }};">
                {% if scenario['ear'] %}
                    <div class="click-zone ear" 
                         data-part="ear" 
                         data-response="{{scenario['ear']}}"
                         style="top: {{ scenario['positions']['ear']['top'] }}; left: {{ scenario['positions']['ear']['left'] }};"></div>
                {% endif %}
                {% if scenario['eye'] %}
                    <div class="click-zone eye" 
                         data-part="eye" 
                         data-response="{{scenario['eye']}}"
                         style="top: {{ scenario['positions']['eye']['top'] }}; left: {{ scenario['positions']['eye']['left'] }};"></div>
                {% endif %}
                {% if scenario['tail'] %}
                    <div class="click-zone tail"
                         data-part="tail" 
                         data-response="{{scenario['tail']}}"
                         style="top: {{ scenario['positions']['tail']['top'] }}; left: {{ scenario['positions']['tail']['left'] }};"></div>
                {% endif %}
                {% if scenario['body'] %}
                    <div class="click-zone body" 
                         data-part="body" 
                         data-response="{{scenario['body']}}"
                         style="top: {{ scenario['positions']['body']['top'] }}; left: {{ scenario['positions']['body']['left'] }};"></div>
                {% endif %}
                {% if scenario['paw'] %}
                    <div class="click-zone paw" 
                         data-part="paw" 
                         data-response="{{scenario['paw']}}"
                         style="top: {{ scenario['positions']['paw']['top'] }}; left: {{ scenario['positions']['paw']['left'] }};"></div>
                {% endif %}
                {% if scenario['sound'] %}
                    <div class="click-zone sound" 
                         data-part="sound" 
                         data-response="{{scenario['sound']}}"
                         style="top: {{ scenario['positions']['sound']['top'] }}; left: {{ scenario['positions']['sound']['left'] }};"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

